import modules

In [2]:
import pandas as pd
import numpy as np

import and read csv file in pandas

In [19]:
flight_data=pd.read_csv('https://raw.githubusercontent.com/staceyvo/IS362_Project1/master/arrival_delays.csv')
flight_data

,City,ALASKA_On_Time,ALASKA_Delayed,AM WEST_On_Time,AM WEST_Delayed
0,Los Angeles,497,62,694,117
1,Phoenix,221,12,4840,415
2,San Diego,212,20,383,65
3,San Francisco,503,102,320,129
4,Seattle,1841,305,201,61

Let's check our data and see if we have any null values.

In [20]:
flight_data.isnull().values.any()

False

Now let's take a look further into the data and describe it.

In [21]:
flight_data.describe()

       ALASKA_On_Time  ALASKA_Delayed  AM WEST_On_Time  AM WEST_Delayed
count        5.000000        5.000000         5.000000         5.000000
mean       654.800000      100.200000      1287.600000       157.400000
std        678.098223      120.017499      1994.188883       147.162495
min        212.000000       12.000000       201.000000        61.000000
25%        221.000000       20.000000       320.000000        65.000000
50%        497.000000       62.000000       383.000000       117.000000
75%        503.000000      102.000000       694.000000       129.000000
max       1841.000000      305.000000      4840.000000       415.000000

Now, we should get the totals of our Alaska data and compute the percentage of delays for each city.

In [24]:
flight_data['ALASKA_Total'] = flight_data['ALASKA_On_Time'] + flight_data['ALASKA_Delayed']

flight_data['ALASKA_Percent_Delay'] = (flight_data['ALASKA_Delayed'] / flight_data['ALASKA_Total']) * 100

flight_data['ALASKA_Percent_Delay']

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
Name: ALASKA_Percent_Delay, dtype: float64

We'll do the same for AM West.

In [25]:
flight_data['AM WEST_Total'] = flight_data['AM WEST_On_Time'] + flight_data['AM WEST_Delayed']

flight_data['AM WEST_Percent_Delay'] = (flight_data['AM WEST_Delayed'] / flight_data['AM WEST_Total']) * 100

flight_data['AM WEST_Percent_Delay']

0    14.426634
1     7.897241
2    14.508929
3    28.730512
4    23.282443
Name: AM WEST_Percent_Delay, dtype: float64

Now that we've determined the Percent Delay for each airline for each city, we can compare this data.

In [27]:
flight_data[['ALASKA_Percent_Delay', 'AM WEST_Percent_Delay']]

   ALASKA_Percent_Delay  AM WEST_Percent_Delay
0             11.091234              14.426634
1              5.150215               7.897241
2              8.620690              14.508929
3             16.859504              28.730512
4             14.212488              23.282443

Now that we can look at the data side by side, we see that AM WEST had the most delays.

In [28]:
flight_data

,City,ALASKA_On_Time,ALASKA_Delayed,AM WEST_On_Time,AM WEST_Delayed,ALASKA_Total,ALASKA_Percent_Delay,AM WEST_Total,AM WEST_Percent_Delay
0,Los Angeles,497,62,694,117,559,11.091234,811,14.426634
1,Phoenix,221,12,4840,415,233,5.150215,5255,7.897241
2,San Diego,212,20,383,65,232,8.620690,448,14.508929
3,San Francisco,503,102,320,129,605,16.859504,449,28.730512
4,Seattle,1841,305,201,61,2146,14.212488,262,23.282443

In conclusion, we've started with basic flight data and added additonal columns with our computed totals and percent delays for each city.